/* ---------- Global ---------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.container {
    width: 95%;
    margin: auto;
}
/* ---------- Global ---------- */


/* ---------- Header ---------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    z-index: 2;
}
.square {
    width: 16px;
    height: 16px;
    margin-top: 24px;
    background-color: #0050ff;
    float: left;
    margin-right: 10px;
}
.name {
    display: inline;
    font-weight: bold;
    font-size: 25px;
    float: left;
    font-family: 'Roboto', sans-serif;
}
.designation {
    display: inline;
    font-size: 17px;
    margin-top: 24px;
    margin-left: 5px;
    float: left;
}
.designation-m{
    display: none;
    font-size: 17px;
}
/* ---------- Header ---------- */


/* ---------- Navigation Menu ---------- */
header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    z-index:2;
}
header nav {
    float: right;
    margin-top: 10px;
}
.highlight,
.current a {
    color: #0050ff;
    font-weight: bold;
}
header a:hover {
    color: #0050ff;
}
.bar1 {
    width: 17px;
    height: 5px;
    background-color: #0050ff;
    margin: 5px 0;
    transition: 0.5s;
    border-radius: 5px;
}
.bar2 {
    width: 30px;
    height: 5px;
    background-color: #0050ff;
    margin: 5px 0;
    transition: 0.5s;
    border-radius: 5px;
}
.bar3 {
    width: 15px;
    height: 5px;
    background-color: #0050ff;
    margin: 5px 0;
    margin-left: 15px;
    transition: 0.5s;
    border-radius: 5px;
}
.change .bar1 {
    transform: translate(2px, 5px) rotate(-130deg);
}
.change .bar2 {
    transform: translate(0, 0px) rotate(-45deg);
}
.change .bar3 {
    transform: translate(-2px, -4px) rotate(225deg);
}
.navbutton {
    display: none;
}
.navbar-button {
    margin-top: 10px;
    margin-left: -40px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F4ECE6;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

.items li {
    list-style: none;
}

.items a {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* ---------- Navigation Menu ---------- */


/* ---------- Showcase ---------- */
#showcase1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: relative; 
}
#showcase2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6DACE;
    position: relative; 
}
.square-2 {
    width: 16px;
    height: 16px;
    background-color: #0050ff;
    float: left;
    margin-right: 10px;
}
.background {
    position: absolute;
    height: 100%;
    width: 37%;
    left: 0;
    background-color: #E6DACE;  
}
/* ---------- Showcase ---------- */


/* ---------- Profile Card ---------- */
.card-container {
    width: 400px;
    height: 550px;
    min-width: 320px;
    position: relative;
    margin-top: 100px;
    box-shadow: -12px 0 10px rgba(0, 0, 0, 0.1), 0 12px 10px rgba(0, 0, 0, 0.1);
}
.card {
    width: 100%;
    position: relative;
}
.card-1 {
    height: 480px;
    background-color: #F4ECE6;
}
.card-2 {
    height: 70px;
    background-color: white;
    bottom: 0;
}
.line {
    top: 80%;
    left: 150px;
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: #0050ff;
    border-radius: 2px;
}
.icon a {
    color: white;
}
.icon {
    top: 25px;
    left: 110px;
    position: absolute;
}
.card-icon {
    color: #010101;
    font-size: 20px;
    margin-right: 30px;
}
.image-frame {
    top: 50px;
    left: 100px;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
}
.image-frame::before {
    display: block;
    padding-top: 100%;
}
.image-frame img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.card-name {
    display: inline;
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.card-designation {
    font-size: 40px;
    display: inline;
    position: relative;
    top: 30px;
    right: 90px;
}
.button-container-card {
    display: none;
}
.button-container-card li{
    float: right;
    margin-left: 10px;
}
.buttoncard-1 {
    width: 120px;
    height: 35px;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.buttoncard-1 .button-text {
    color: #000000;
}
.buttoncard-1:hover {
    border: 2px solid #0050ff;
    background-color: #0050ff;
}
.buttoncard-1:hover .button-text {
    color: #ffffff;
}
.buttoncard-2 {
    width: 120px;
    height: 35px;
    border-radius: 50px;
    background-color: #0050ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0050ff;
}
.buttoncard-2 .button-text {
    color: #ffffff;
}
.buttoncard-2:hover {
    background-color: #ffffff;
}
.buttoncard-2:hover .button-text {
    color: #000000;
}
.button-container-card a{
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
/* ---------- Profile Card ---------- */


/* ---------- Showcase-Text ---------- */
.text-container {
    font-family: 'Roboto', sans-serif;
}
.text-container h2 {
    font-size: 130px;
    position: relative;
    padding: 0px 0px 0px 10px;
    margin-bottom: -50px;
}
.text-container h1 {
    font-size: 30px;
    position: relative;
    padding: 10px 10px 10px 15px;
    margin-bottom: -1px;
}
.button-container {
    position: relative;
    z-index: 1;
    left: -30px;
}
.button-container a {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.button-1 {
    position: relative;
    width: 120px;
    height: 35px;
    border-radius: 50px;
    background-color: #0050ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0050ff;
    margin-left: 10px;
    float: left;
}
.button-1 .button-text {
    color: #ffffff;
}
.button-1:hover {
    background-color: #ffffff;
}
.button-1:hover .button-text {
    color: #000000;
}
.button-2 {
    position: relative;
    width: 120px;
    height: 35px;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 10px;
    float: left;
}
.button-2 .button-text {
    color: #000000;
}
.button-2:hover {
    border: 2px solid #0050ff;
    background-color: #0050ff;
}
.button-2:hover .button-text {
    color: #ffffff;
}
.about {
    font-size: 20px;
    max-width: 30rem;
    position: relative;
    padding: 30px 0px 10px 15px;
    text-align: justify;
}
/* ---------- Showcase-Text ---------- */


/* ---------- Footer ---------- */
footer {
    width: 98%;
    height: 50px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 5px;
    font-size: 15px;
    z-index: 1;
}
footer ul {
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}
footer ul:last-child {
    margin-right: 0;
}
footer .copyright {
    float: left;
}
footer a{
    color: #000000;
}
footer .write,
footer .follow {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    float: right;
}
footer .follow a {
    color: #ffffff;
}
.label {
    font-weight: bold;
}
.social-icon {
    color: #010101;
    font-size: 20px;
    margin-right: 10px;
}

/* ---------- MediaQueries ---------- */


/* ---------- Navbar-Button ---------- */
@media screen and (max-width: 900px) {
    .navbar-item {
        display: none;
    }
    .navbutton {
        display: block;
    }
}
/* ---------- Navbar-Button ---------- */


/* ---------- Mobile-View ---------- */
@media screen and (max-width: 768px) {
    header {
        position: relative;
    }
    .designation {
        display: none;
    }
    .designation-m {
        margin-left: -220px;
        margin-top: 50px;
        display: inline-flex;
    }
    #showcase1 {
        width: 100%;
        background-color: #E6DACE;
        padding: 20px;
        flex-direction: column;
    }
    #showcase2 {
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }
    .background {
        position: absolute;
        height: 20%;
        width: 100%;
        left: 0;
        top: -1px;
        background-color: #ffffff;  
    }
    .card-container {
        margin: auto;
        left: 0px;
    }
    .button-container {
        display: none;
    }
    .button-container-card {
        display: inline-block;
        position: relative;
        left: 20px;
        top: 55px;
        margin: auto;
    }
    .card-designation {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .card-container {
        width: 350px;
        height: 450px;
    }
    .card-1 {
        height: 400px;
    }
    .card-2 {
        height: 50px;
    }
    .image-frame {
        left: 85px;
        height: 180px;
        width: 180px;
    }
    .card-name {
        font-size: 20px;
    }
    .line {
        top: 80%;
        left: 130px;
    }

    .card-icon {
        font-size: 20px;
    }
    .icon {
        top: 15px;
        left: 90px;
    }
    .button-container-card {
        display: inline-block;
        position: relative;
        left: 5px;
        top: 40px;
        margin: auto;
    }
}
/* ---------- Mobile-View ---------- */


/* ---------- Footer-Adjustment ---------- */
@media screen and (max-width: 600px) {
    footer .copyright {
        float: none;
    }
    footer .write,
    footer .follow {
        position: relative;
        float: none;
    }
    footer ul {
        display: block;
        margin-right: 0;
        list-style: none;
    }
    footer {
        align-items: center;
        justify-content: center;
    }
}
/* ---------- Footer-Adjustment ---------- */


/* ---------- MediaQueries ---------- */
